* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.header-style {
  background-color: #2f2e41;
}

.header-container {
  height: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.header-item {
  max-width: 50vw;
  width: 50vw;
}

.header-title {
  color: #ffffff;
  font-size: 72px;
  margin: auto 100px;
}

.header-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-heading {
  text-align: center;
  margin: 50px auto;
  font-size: 56px;
  color: #3f3d56;
}

.hrule {
  background-color: #d0cde1;
  border: 0;
  height: 2px;
  margin: 50px;
}

.search-bar {
  margin: 50px auto 100px auto;
  background-color: #d0cde1;
  height: 80px;
  width: 800px;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.search-input {
  height: 60px;
  width: 700px;
  margin-left: 10px;
  border-radius: 15px;
  border-width: 0px;
  border: none;
  font-size: 24px;
  text-indent: 30px;
  color: #3f3d56;
}

.search-input:focus {
  outline: none;
}

.search-logo {
  margin: 15px 20px;
}

.developer-container {
  height: 300px;
  background-color: #81629e;
  margin-top: 100px;
  margin-bottom: 100px;
}

.add-dev-msg {
  font-size: 36px;
  color: #3f3d56;
  margin: 50px auto;
  text-align: center;
}

.add-dev-btn-wrapper {
  text-align: center;
  margin: 50px auto;
}

.add-dev-btn {
  font-size: 36px;
  background-color: #81629e;
  border-width: 0px;
  border: none;
  color: #ffffff;
  height: 80px;
  padding: 0 72px;
  border-radius: 15px;
}

.footer-bar {
  background-color: #3f3d56;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  font-size: 24px;
  color: #ffffff;
}
