.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1040px;
  max-width: 100%;
  height: 90vh;
  z-index: 1010;
  background-color: #ffffff;
  overflow-y: auto;
}

.hrule-modal {
  background-color: #d0cde1;
  border: 0;
  height: 2px;
  margin: 50px 30px;
}

.modal-title {
  color: #000000;
}

.modal-title-container {
  margin: 50px;
  font-size: 32px;
}

.modal-cross {
  vertical-align: middle;
  color: #aaaaaa;
  float: right;
  font-weight: bold;
  padding: 0 20px;
  user-select: none;
}

.modal-cross:hover,
.modal-cross:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.profile-container {
  margin: 50px 0 100px 80px;
}

.modal-footer-container {
  padding: 0 65px 50px 0;
  float: right;
}

.modal-submit-btn {
  font-size: 25px;
  background-color: #81629e;
  border-width: 0px;
  border: none;
  color: #ffffff;
  height: 50px;
  width: 175px;
  border-radius: 15px;
  cursor: pointer;
}

.modal-cancel-btn {
  font-size: 25px;
  background-color: #ffffff;
  border-width: 0px;
  border: none;
  color: #3f3d56;
  height: 50px;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 50px;
  padding: 0 30px;
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.error-div {
  color: #df0000;
  margin: 0 0 0 80px;
  font-weight: bold;
  font-size: 24px;
}

@media screen and (max-width: 480px) {
  .modal-title-container {
    margin: 30px;
    font-size: 20px;
  }

  .modal {
    width: 100vw;
  }

  .hrule-modal {
    margin: 15px 5vw;
  }

  .profile-container {
    margin: 25px 0 50px 20px;
  }

  .modal-cancel-btn {
    font-size: 15px;
    height: 30px;
    margin-right: 30px;
    padding: 0 10px;
  }

  .modal-submit-btn {
    font-size: 15px;
    height: 30px;
    width: 100px;
  }

  .error-div {
    margin: 0;
    text-align: center;
    font-size: 18px;
  }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
  .modal-title-container {
    margin: 40px;
    font-size: 30px;
  }

  .modal {
    width: 100vw;
  }

  .hrule-modal {
    margin: 25px 10vw;
  }

  .profile-container {
    margin: 25px 0 50px 40px;
  }
}
