.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1040px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
  z-index: 1010;
  background-color: #ffffff;
  overflow-y: auto;
}

.hrule-modal {
  background-color: #d0cde1;
  border: 0;
  height: 2px;
  margin: 50px 30px;
}

.modal-title {
  color: #000000;
}

.modal-title-container {
  margin: 50px;
  font-size: 32px;
}

.modal-cross {
  vertical-align: middle;
  color: #aaaaaa;
  float: right;
  font-weight: bold;
  padding: 0 20px;
  user-select: none;
}

.modal-cross:hover,
.modal-cross:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.profile-container {
  margin: 50px 0 100px 80px;
}

.modal-footer-container {
  margin: 0 65px 50px 0;
  float: right;
}

.modal-submit-btn {
  font-size: 25px;
  background-color: #81629e;
  border-width: 0px;
  border: none;
  color: #ffffff;
  height: 50px;
  width: 175px;
  border-radius: 15px;
  cursor: pointer;
}

.modal-cancel-btn {
  font-size: 25px;
  background-color: #ffffff;
  border-width: 0px;
  border: none;
  color: #3f3d56;
  height: 50px;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 50px;
  padding: 0 30px;
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
