.main-heading {
  text-align: center;
  margin: 50px auto;
  font-size: 56px;
  color: #3f3d56;
}

.hrule {
  background-color: #d0cde1;
  border: 0;
  height: 2px;
  margin: 0 50px;
}

.search-bar {
  margin: 50px auto 50px auto;
  background-color: #d0cde1;
  height: 80px;
  width: 800px;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.search-input {
  height: 60px;
  width: 700px;
  margin-left: 10px;
  border-radius: 15px;
  border-width: 0px;
  border: none;
  font-size: 24px;
  text-indent: 30px;
  color: #3f3d56;
}

.search-input:focus {
  outline: none;
}

.search-logo {
  margin: 15px 20px;
}

.developer-container {
  margin: 0 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80vw;
}
