.main-heading {
  text-align: center;
  margin: 50px auto;
  font-size: 56px;
  color: #3f3d56;
}

.hrule {
  background-color: #d0cde1;
  border: 0;
  height: 2px;
  margin: 0 50px;
}

.search-bar {
  margin: 50px auto;
  background-color: #d0cde1;
  height: 80px;
  max-width: 800px;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.search-input {
  height: 60px;
  width: 700px;
  margin-left: 10px;
  border-radius: 15px;
  border-width: 0px;
  border: none;
  font-size: 24px;
  text-indent: 30px;
  color: #3f3d56;
}

.search-input:focus {
  outline: none;
}

.search-logo {
  margin: 15px 20px;
}

.developer-container {
  margin: 0 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80vw;
}

@media screen and (max-width: 480px) {
  .main-heading {
    font-size: 26px;
    margin: 25px auto;
  }

  .hrule {
    margin: 0 5vw;
  }

  .search-logo {
    display: none;
  }

  .search-input {
    max-width: 95vw;
    margin-left: 0px;
    font-size: 20px;
    height: 40px;
  }

  .search-bar {
    max-width: 100vw;
    justify-content: center;
    margin: 25px 0;
    height: 60px;
  }

  .developer-container {
    justify-content: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
  .main-heading {
    font-size: 32px;
    margin: 25px auto;
  }

  .hrule {
    margin: 0 5vw;
  }
}
