.profile-item {
  margin: 30px 0;
}

.logo-label-outer {
  margin-bottom: 20px;
}

.logo-label-inner {
  color: #000000;
  font-size: 24px;
  padding-left: 15px;
  vertical-align: middle;
}

.logo-img {
  vertical-align: middle;
}

.profile-item-input {
  font-size: 24px;
  color: #555555;
  height: 50px;
  width: 600px;
  border-radius: 10px;
  border-color: #d0cde1;
  border-style: solid;
  border-width: 1px;
  text-indent: 15px;
  background-color: #fefefe;
}

.profile-item-input:focus {
  outline: none;
  box-shadow: 0px 0px 4px #aaaaaa;
}
