.icon-link {
  margin-right: 20px;
}

@media screen and (max-width: 480px) {
  .icon-link {
    margin-right: 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
  .icon-link {
    margin-right: 15px;
  }
}