.header-style {
  background-color: #2f2e41;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-around;
}

.header-item {
  display: inline-block;
  margin: 50px 0;
}

.header-title {
  color: #ffffff;
  font-size: 72px;
}

.header-image {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 480px) {
}

@media screen and (min-width: 481px) and (max-width: 960px) {
}
